@model IEnumerable<MyIceDream.Models.Product>

@{
    ViewBag.Title = "Product List";
}

<h2>@ViewBag.Title</h2>

<div class="row pt-4">
    <div class="col-4 text-right">
        <a asp-controller="Products" asp-action="Create" class="btn btn-primary w-50"><i class="bi bi-plus-circle-fill"></i>  Tilføj Ny</a>
    </div>
    <div class="col-4 text-">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary w-50"><i class="bi bi-backspace"></i>  Tilbage</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    @if (product.ImageData != null)
                    {
                        <img src="@Url.Action("GetImage", "Product", new { id = product.Id })" alt="Product Image" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
